<!doctype html>
<html ng-app >
  <head>
    <script src="../sources/javascripts/underscore.js"></script>
    <script src="../sources/javascripts/jQuery.js"></script>
    <script src="../sources/javascripts/angular.min.js"></script>
    <script src="js/puzzle.js"></script>
    <link rel="stylesheet" type="text/css" href="css/puzzle.css">
  </head>
  <body ng-controller="CubeCtrl" ng-keydown="moveQueue($event); eatKeydown($event);">
    <h1>Cube Puzzle</h1>
    <p>RDRDLDRRULLLURRULLDRRDDRUULDLLDRUUUL</p>
    <p>RDRDL DRRUL LLURR ULLDR RRDLD RULLL DRUUU L</p>
    <h2>press arrow to move</h2>
    <br>
    <div>
      <form ng-submit="goThroughQueue()">
        <input type="text" ng-model="queue"  ng-trim="true" />
        <input type="submit" value="Go!" tabindex="1" ng-keypress="reset()"/>
        <div>
          <input type="reset" value="reset!" ng-click="reset()" />
          <input type="reset" value="increase" ng-click="increase()" />
          <input type="reset" value="decrease" ng-click="decrease()" />
        </div>
      </form>
    	<ul ng-repeat="lay in lays" class="lay-{{lay + 1}}">
    		<li ng-repeat="color in colors" class="{{render(lay, $index, color)}}">
    			<span>{{($index + 1) + colors.length*lay}}</span>
    		</li>
    	</ul>
    </div>
  </body>
</html>